<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規タスク作成</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
    <div style="padding: 20px;">
        <h2>新規タスク作成</h2>
        <form th:action="@{/tasks}" th:object="${task}" method="post">
            <div class="form-group">
                <label for="title">タイトル</label><br>
                <input id="title" type="text" th:field="*{title}" class="form-control">
                <p th:errors="*{title}" style="color:red; font-size: 13px;"></p>
            </div>
            <div class="form-group">
                <label for="content">内容</label><br>
                <textarea id="content" th:field="*{content}" class="form-control" style="height: 80px;"></textarea>
                <p th:errors="*{content}" style="color:red; font-size: 13px;"></p>
            </div>
            <div class="form-group">
                <label for="name">登録者</label><br>
                <input id="name" type="text" th:field="*{name}" class="form-control">
                <p th:errors="*{name}" style="color:red; font-size: 13px;"></p>
            </div>
            <div class="form-group">
                <label for="startDate">開始日</label><br>
                <input id="startDate" type="date" th:field="*{startDate}" class="form-control">
                <p th:errors="*{startDate}" style="color:red; font-size: 13px;"></p>
            </div>
            <div class="form-group">
                <label for="endDate">終了日</label><br>
                <input id="endDate" type="date" th:field="*{endDate}" class="form-control">
                <p th:errors="*{endDate}" style="color:red; font-size: 13px;"></p>
                <p th:errors="*{endDateAfterStartDate}" style="color:red; font-size: 13px;"></p>
            </div>
            <button type="submit" class="btn btn-primary">保存</button>
            <a th:href="@{/tasks}">
                <button type="button" class="btn btn-secondary">←キャンセル</button>
            </a>
        </form>
    </div>
</body>
</html>