<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODOアプリ TOP</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
    <div class="text-center" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h2>TODOアプリ TOP</h2>
        <a th:href="@{/register}" style="text-decoration: none;">
            <button class="btn btn-success">ユーザ登録</button>
        </a>
        <a th:href="@{/login}" style="text-decoration: none;">
            <button class="btn btn-primary">ログイン</button>
        </a>
    </div>
</body>
</html>