<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
    <div style="text-align:center; margin-top: 30px;">
        <h3 style="font-size: 18px;">ログイン</h3>
        <div style="display: inline-block; border: 1px solid #ccc; padding: 15px 25px; border-radius: 5px;">
            <p th:if="${error}" th:text="${error}" style="color:red; font-size: 13px;"></p>
            <form th:action="@{/login}" method="post">
                <div class="form-group" style="text-align: left;">
                    <label for="username" style="font-size: 13px;">ユーザー名</label><br>
                    <input id="username" type="text" name="username" class="form-control" style="padding: 3px; margin-top: 3px;">
                </div>
                <div class="form-group" style="text-align: left;">
                    <label for="password" style="font-size: 13px;">パスワード</label><br>
                    <input id="password" type="password" name="password" class="form-control" style="padding: 3px; margin-top: 3px;">
                </div>
                <div style="margin-top: 12px;">
                    <button type="submit" class="btn btn-primary" style="width: 100%; font-size: 13px;">ログイン</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>